.project-heading-card {
  height: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px 2px gray;
}

.project-card:hover {
  box-shadow: 1px 1px 5px gray;
}

.bg-f-color {
  background-color: #fffbd4;
  color: black;
  border: 1px solid black;
}

.bg-s-color {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}

.btn-demo {
  padding: 10px;
  margin: 5px;
  width: 150px;
  border-radius: 30px;
  border: none;
  background-color: #efad19;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-demo:hover {
  box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}

.btn-code {
  padding: 10px;
  margin: 5px;
  width: 150px;
  border-radius: 30px;
  border: none;
  background-color: #e0e0e0;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-code:hover {
  box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}

.project-heading-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray;
}

.expence-icon {
  height: 250px;
}

.short-link-icon {
  height: 250px;
}

.subcontainer-1 {
  width: 90%;
  height: 200px;
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-project-paragraph {
  text-align: center;
  font-size: 20px;
}

.subcontainer-2 {
  display: flex;
  width: 200px;
  margin: auto;
}

.project-more-text {
  background-color: #1a7cff;
  padding: 2px 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 3px 1px -2px rgb(0, 0, 0);
  transform: scale(1.01);
}

.project-more-text:hover {
  box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}
.btn-gradient {
  background: linear-gradient(135deg, #007bff, #6610f2);
  color: white;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

}

.btn-gradient:hover {
  background: linear-gradient(135deg, #6610f2, #007bff);
  transform: translateY(-2px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .btn-demo {
    width: 146px;
  }
  .btn-code {
  
    width: 146px;
   
  }
  .expence-icon {
    height: 200px;
  }
  .short-link-icon {
    height: 200px;
  }
  .explore-more-project-text{
    font-size: 20px;
  }

}